<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <connectionStrings>
    <add name="controlpanel" connectionString="Initial Catalog=ControlPanel;Data Source=10.1.20.24;User Id=sa; Password=Axact123"/>
  </connectionStrings>
    
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
  <appSettings>
    <add key="SpringFileName" value="ControlPanelSpring.cfg.xml"/>
  </appSettings>
</configuration>
